<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 <ul class=missons>
        <img src="<%=marsMissions.img%>">
        <li>Name: <%=marsMissions.name%></li>
        <li>Launch Date: <%=marsMissions.launchDate%></li>
        <li>Operator: <%=marsMissions.operator%></li>
        <li>Mission Type: <%=marsMissions.missionType%></li>
        
    </ul>


</body>
</html>